@model List<MyApp.Models.AutoSchool>
@if (Model.Count == 0)
{
    <p class="text-danger">Не було знайдено автошкіл за обраними параметрами</p>
}
else
{
    <h3>Знайдено @Model.Count автошкіл:</h3>

    <div class="row">
        @foreach (var school in Model)
        {
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@school.Name</h5>
                        <p class="card-text">
                            <strong>ЄДРПОУ:</strong> @school.EDRPOU<br>
                            <strong>Категорії:</strong> @school.Categories<br>
                            <strong>Адреса:</strong> @school.Address<br>
                            <strong>Класи:</strong> @school.ClassroomsAddress<br>
                            <strong>Контакти:</strong> @school.Contacts<br>
                            <strong>Акредитація до:</strong> @school.AccreditationTerm
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}